@import url('https://fonts.googleapis.com/css?family=Mali:400,500,700&display=swap');
.daily-container{
    border:none;
    border-radius: 3px;
    margin:26px 20px 0px 60px;

}
.daily-container h3{
    margin:0px;
    font-size:15px;
    font-weight:400;
    line-height:26px !important;
    font-family:'mali';
    font-weight:700;
    margin-bottom: 26px;
    
}