
.map-grid{
    display:flex; 
    flex-direction:column; 
    background-color:rgba(255, 247, 200, 0.95);
    overflow:auto;
    z-index:99;
    position:fixed;
    top:0;
 
    height:100vh;
    padding-top:50px;
    
}

.backdrop{
    background-color:rgba(0, 0, 0, 0.4);
    height:100vh;
    width:100%;
    top:0;
    position:fixed;
    z-index: 60;
    

}

.wrapper{
    display:flex;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}

.fade-enter{
    opacity:0;
    transform: translateX(0);
}
.fade-enter-active{
    opacity:1;
    transform: translateX(350px);
    transition:all 150ms ease-out;
}
.fade-exit{
    transform: translateX(350px);
    opacity:1;
}
.fade-exit-active{
    opacity:0;
    transform: translateX(0);
    transition:all 150ms ease-out;
}

@media only screen and (min-width: 358px) and (max-width: 991px){
    .map-grid{
        width:500px;
        left:0; 
    }
    .backdrop{    
        z-index:60;
    }
    .menu-slide-enter{
        transform: translateX(-500px);
        position:fixed;
        top:0;
        left:0;
        z-index: 100;
        
    }
    .menu-slide-enter-active{
        transform: translateX(0);
        transition:all 150ms ease-out;
        position:fixed;
        left:0;
        top:0;
        z-index: 100;
    }
    .menu-slide-exit{
        transform: translateX(0);
        top:0;
        left:0;
        position: fixed;
        z-index: 100;
    }
    .menu-slide-exit-active{
        transform: translateX(-500px);
        transition:all 150ms ease-out;
        top:0;
        left:0;
        position:fixed;
        z-index: 100;
    }
    
}

@media only screen and (min-width: 992px) and (max-width: 1999px){
    .map-grid{
        width:500px;
        left:0; 
    }
    .backdrop{
        
        z-index:60;
    }
    .menu-slide-enter{
        transform: translateX(-500px);
        position:fixed;
        top:0;
        left:0;
        z-index: 100;
        
    }
    .menu-slide-enter-active{
        transform: translateX(0);
        transition:all 150ms ease-out;
        position:fixed;
        left:0;
        top:0;
        z-index: 100;
    }
    .menu-slide-exit{
        transform: translateX(0);
        top:0;
        left:0;
        position: fixed;
        z-index: 100;
    }
    .menu-slide-exit-active{
        transform: translateX(-500px);
        transition:all 150ms ease-out;
        top:0;
        left:0;
        position:fixed;
        z-index: 100;
    }
}