@import url('https://fonts.googleapis.com/css?family=Mali:400,500,700&display=swap');

.field-entry > p{
    margin:0px;
    line-height:26px !important;
    font-family:'mali'
    
}
.field-entry > p strong{
    line-height:26px !important;
    font-family:'mali';
    font-weight: 700;
    
}
.field-entry{
    margin:0px;
}

.field-entry:hover{
    margin:0px;
    background-color: rgba(255, 255, 255, 0.5);
    svg {
        fill:rgb(148, 148, 148);
        cursor: pointer;
    }
}

.field-entry svg{
    fill:none;
    margin-left:20px;

}
.field-entry svg:hover{
    fill:rgb(255, 101, 101);
    margin-left:20px;

}



.pencil{
    margin-left:20px !important;
}