@import url('https://fonts.googleapis.com/css?family=Mali:400,500,700&display=swap');

.field-entry > p{
    margin:0px;
    line-height:26px !important;
    font-family:'mali';
    font-size:15px;
    
}
.field-entry > p strong{
    line-height:26px !important;
    font-family:'mali';
    font-weight: 700;
    font-size:15px;
}
.field-entry{
    margin:0px;
    font-size:15px;
}

.field-entry:hover{
    margin:0px;
    background-color: rgba(255, 255, 255, 0.5);
    font-size:15px;
    svg {
        fill:rgb(148, 148, 148);
        cursor: pointer;
    }
}

.field-entry svg{
    fill:none;
    margin-left:20px;

}
.field-entry svg:hover{
    fill:rgb(255, 101, 101);
    margin-left:20px;

}



.pencil{
    margin-left:20px !important;
}

#editValue{
    border:none;
    background:transparent;
    width:78%;
    height:26px;
    padding:0px;
    max-height: 100px;
    max-width:100%;
    padding-left:5px;
    overflow-y:auto;
    font-family: 'mali';
    font-size:15px;
    background-color: rgba(255, 255, 255, 0.5);
    margin:0px;
}

.field-entry label{
    font-family:'mali';
    font-weight:700;
    
    width:auto;
    line-height: 26px;
}

#editValue:focus{
    outline:none;
}

.field-entry form{
    padding:0px;
    display: flex;
    flex-direction: row !important;
}